*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@keyframes rotate {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

*:focus{
    outline: none;
}

input[type=checkbox]:focus{
    outline-color: #45C0FE;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #36353C;
    color:#FFF;
}

#root {
    width: 1170px;
    margin: 0 auto;
}

.App{

    .errorRetrievingToken{
        width: 100%;
        margin:150px auto;
        display: block;
        text-align: center;

        i{
            font-size: 45px;
            margin-bottom: 15px;
        }      
    }


    .Navigation{
        position: relative;
        overflow: hidden;
        
        &::before{
            position: absolute;
            content: '';
            left: 0;
            top:0;
            width: 400px;
            height: 53px;
            background: #0f0;
            background: -moz-linear-gradient(left, rgba(54,53,60,1) 0%, rgba(54,53,60,1) 50%, rgba(54,53,60,0) 100%);
            background: -webkit-linear-gradient(left, rgba(54,53,60,1) 0%,rgba(54,53,60,1) 50%,rgba(54,53,60,0) 100%);
            background: linear-gradient(to right, rgba(54,53,60,1) 0%,rgba(54,53,60,1) 50%,rgba(54,53,60,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36353c', endColorstr='#0036353c',GradientType=1 );

        }

        &::after{
            position: absolute;
            right:0;
            top: 0;
            content: '';
            width: 400px;
            height: 53px;
            background: -moz-linear-gradient(left, rgba(54,53,60,0) 0%, rgba(54,53,60,1) 50%, rgba(54,53,60,1) 100%);
            background: -webkit-linear-gradient(left, rgba(54,53,60,0) 0%,rgba(54,53,60,1) 50%,rgba(54,53,60,1) 100%);
            background: linear-gradient(to right, rgba(54,53,60,0) 0%,rgba(54,53,60,1) 50%,rgba(54,53,60,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0036353c', endColorstr='#36353c',GradientType=1 );
        }   

        ul{
            list-style: none;
            height: 53px;
            overflow: hidden;
            -moz-transition: margin-left 0.3s ease-in-out;
            -webkit-transition: margin-left 0.3s ease-in-out;
            -o-transition: margin-left 0.3s ease-in-out;
            transition: margin-left 0.3s ease-in-out;

            li{
                width: 350px;
                display: inline-block;
                text-align: center;
                line-height: 53px;
                font-size: 21px;
                font-weight: 400;

                &.elzero{
                    margin-left: 410px;
                }

            }
        }

        .navigation_effect{
            height: 2px;
            opacity: 0.3;
            width: 100%;
            
            background: rgba(54,53,60,1);
            background: -moz-linear-gradient(left, rgba(54,53,60,1) 0%, rgba(54,53,60,0.92) 20%, rgba(147,147,147,0.79) 50%, rgba(54,53,60,0.66) 80%, rgba(54,53,60,0.58) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(54,53,60,1)), color-stop(20%, rgba(54,53,60,0.92)), color-stop(50%, rgba(147,147,147,0.79)), color-stop(80%, rgba(54,53,60,0.66)), color-stop(100%, rgba(54,53,60,0.58)));
            background: -webkit-linear-gradient(left, rgba(54,53,60,1) 0%, rgba(54,53,60,0.92) 20%, rgba(147,147,147,0.79) 50%, rgba(54,53,60,0.66) 80%, rgba(54,53,60,0.58) 100%);
            background: -o-linear-gradient(left, rgba(54,53,60,1) 0%, rgba(54,53,60,0.92) 20%, rgba(147,147,147,0.79) 50%, rgba(54,53,60,0.66) 80%, rgba(54,53,60,0.58) 100%);
            background: -ms-linear-gradient(left, rgba(54,53,60,1) 0%, rgba(54,53,60,0.92) 20%, rgba(147,147,147,0.79) 50%, rgba(54,53,60,0.66) 80%, rgba(54,53,60,0.58) 100%);
            background: linear-gradient(to right, rgba(54,53,60,1) 0%, rgba(54,53,60,0.92) 20%, rgba(147,147,147,0.79) 50%, rgba(54,53,60,0.66) 80%, rgba(54,53,60,0.58) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36353c', endColorstr='#36353c', GradientType=1 );


        }
    }

    .View{
        min-height: 519px;

        .button{
            width: 286px;
            height: 60px;
            border: none;
            border-radius: 4px;
            background: rgba(208, 208, 208, 0.15);
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.10);
            font-size: 23px;
            font-weight: 400;
            color: #FFFFFF;
            cursor: pointer;
            display: block;

            &:hover{
                background: rgba(208, 208, 208, 0.18);
            }

            &:active{
                background: rgba(208, 208, 208, 0.10);
            }

            &:disabled{
                opacity: 0.3;
                cursor: not-allowed;

                &:hover{
                    background: rgba(208, 208, 208, 0.15);
                }

                &:active{
                    background: rgba(208, 208, 208, 0.15);
                }
            }
        }

        .description{
            padding: 35px 0;
            text-align: center;
            clear: both;

            p{
                font-size: 15px;
            }
        }

        .ButtonPack{
            display: flex;
            justify-content: center;
            .button{
                float: left;
                margin-right: 21px;

                &:last-child{
                    margin-right: 0;
                }
            }
        }

        .CollectingData{

            .button{
                margin: 0 auto;
            }

            .MailboxForm{
                width: 50%;
                float: left;
                position: relative;
                min-height: 367px;

                &:first-child{
                    .form{
                        &::after{
                            content: '';
                            height: 224px;
                            width: 2px;
                            background:#979797;
                            position: absolute;
                            top: 110px;
                            right: 0;
                            opacity: 0.10;
                        }
                    }
                }

                .form{
                    width: 234px;
                    margin:58px auto 0;
                    
                    h2{
                        font-size: 23px;
                        font-weight: 400;
                        text-align: center;
                        margin-bottom: 20px;
                    }

                    input[type=text],
                    input[type=password] {
                        width: 234px;
                        background: transparent;
                        border:2px solid #979797;
                        opacity: 0.5;
                        border-radius: 4px;
                        color:#FFF;
                        height: 44px;
                        padding: 0 15px;
                        font-size: 14px;
                        margin-bottom: 16px;

                        &:focus{
                            border-color: #45C0FE;
                            opacity: 1;
                        }
                    }

                    .port_and_ssl{
                        position: relative;

                        .ssl_toggle{
                            right: 15px;
                            top: 9px;
                            position: absolute;
                            input[type=checkbox] {
                                visibility: hidden;
                            }

                            input[type=checkbox]:checked + span{
                                &:after{
                                    content: '\f00c';
                                    font-size: 17px;
                                    left: -24px;
                                    top: 0px;
                                    opacity: 1;
                                    color:#45C0FE;
                                    position: absolute;
                                    font-family: FontAwesome;
                                }   
                            }

                            label{
                                cursor: pointer;
                                
                                span{
                                    position: relative;
                                    top: 1px;
                                    margin-left: 15px;
                                    font-size: 14px;
                                    color:#A6A6A6;
                                    font-weight: 400;

                                    -webkit-touch-callout: none; /* iOS Safari */
                                    -webkit-user-select: none; /* Safari */
                                    -khtml-user-select: none; /* Konqueror HTML */
                                    -moz-user-select: none; /* Firefox */
                                        -ms-user-select: none; /* Internet Explorer/Edge */
                                            user-select: none;
                                    
                                    &:before{
                                        opacity: 0.5;
                                        content: '';
                                        width: 14px;
                                        height: 14px;
                                        display: block;
                                        border-radius: 4px;
                                        top: 1px;
                                        left: -27px;
                                        position: absolute;
                                        border: 2px solid #979797;
                                    }

                                }
                            }
                        }
                    }

                    .status{
                        font-size: 12px;
                        text-align: center;
                        position: relative;

                        &.success{
                            color: #3BD43B;
                            &::before{
                                color: #3BD43B;
                                content: '\f00c';
                                margin-right: 5px;
                                font-size: 13px;
                                font-family: FontAwesome;
                            }
                        }

                        &.error{
                            color: #F54040;
                            &::before{
                                color: #F54040;
                                content: '\f06a';
                                margin-right: 5px;
                                font-size: 13px;
                                font-family: FontAwesome;
                            }
                        }

                        &.trying{
                            color: #F5C840;

                            span{
                                margin-left: 20px;
                            }
                            &:before{
                                color:#F5C840;
                                margin-right: 5px;
                                content: '\f021';
                                font-size: 13px;
                                left: 59px;
                                top: 2px;
                                font-family: FontAwesome;
                                position: absolute;

                                -webkit-animation: rotate 2s linear infinite;
                                -moz-animation: rotate 2s linear infinite;
                                -ms-animation: rotate 2s linear infinite;
                                -o-animation: rotate 2s linear infinite;
                                animation: rotate 2s linear infinite;
                            }
                        }
                    }
                }
            }
        }

        .SelectFolders{
            width: 819px;
            padding: 58px 0 0 0;
            margin: 0 auto;

            h2{
                font-size: 23px;
                font-weight: 400;
                text-align: left;
                margin-bottom: 20px;
            }

            .status{
                height: 33px;
                line-height: 33px;
                font-size: 12px;
                text-align: center;
                margin: 0 auto;
                position: relative;

                &.info{
                    color:#9F9FA0;
                }

                &.error{
                    color: #F54040;
                    &::before{
                        color: #F54040;
                        content: '\f06a';
                        margin-right: 5px;
                        font-size: 13px;
                        font-family: FontAwesome;
                    }
                }

                &.trying{
                    color: #F5C840;

                    span{
                        margin-left: 20px;
                    }
                    &:before{
                        color:#F5C840;
                        margin-right: 5px;
                        content: '\f021';
                        font-size: 13px;
                        top: 1px;
                        font-family: FontAwesome;
                        position: absolute;

                        -webkit-animation: rotate 2s linear infinite;
                        -moz-animation: rotate 2s linear infinite;
                        -ms-animation: rotate 2s linear infinite;
                        -o-animation: rotate 2s linear infinite;
                        animation: rotate 2s linear infinite;
                    }
                }
            }

            .SelectFixed{
                height: 257px;
            
                .SelectSection{
                    max-height: 224px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    
                    .LoadingFolders{
                        display: flex;
                        overflow:hidden;
                        flex-wrap: wrap;
                        align-content: flex-start;                        
                        width: 100%;

                        @-webkit-keyframes fadeBackground{
                            0% {
                                transition:none;
                            }
                            50% {
                                background-color:#3E3D46;
                            }
                        }

                        @-moz-keyframes fadeBackground{
                            0% {
                                transition:none;
                            }
                            50% {
                                background-color:#3E3D46;
                            }
                        }

                        @-o-keyframes fadeBackground{
                            0% {
                                transition:none;
                            }
                            50% {
                                background-color:#3E3D46;
                            }
                        }

                        @keyframes fadeBackground{
                            0% {
                                transition:none;
                            }
                            50% {
                                background-color:#3E3D46;
                            }
                        }

                        .load_block{
                            width: 24.25%;
                            height: 52px;
                            margin-right: 1%;
                            margin-bottom: 8px;
                            background: #44434A;
                            border-radius: 4px;

                            -webkit-animation: fadeBackground 1.2s ease-out infinite;
                            -moz-animation: fadeBackground 1.2s ease-out infinite;
                            -o-animation: fadeBackground 1.2s ease-out infinite;
                            animation: fadeBackground 1.2s ease-out infinite;
                            
                            &:nth-of-type(3n+4) {
                                 -webkit-animation: fadeBackground 1.2s ease-out infinite 1s;
                                 -moz-animation: fadeBackground 1.2s ease-out infinite 1s;
                                 -o-animation: fadeBackground 1.2s ease-out infinite 1s;
                                 animation: fadeBackground 1.2s ease-out infinite 1s;
                            }

                            &:nth-of-type(5n+1) {
                                 -webkit-animation: fadeBackground 1.2s ease-out infinite 1.5s;
                                 -moz-animation: fadeBackground 1.2s ease-out infinite 1.5s;
                                 -o-animation: fadeBackground 1.2s ease-out infinite 1.5s;
                                 animation: fadeBackground 1.2s ease-out infinite 1.5s;
                            }

                            &:nth-of-type(4n+4){
                                margin-right: 0;
                            }
                        }

                        p {
                            position: relative;
                            &:before{
                                color:#FFFFFF;
                                display: flex;
                                position: relative;
                                top: -10px;
                                justify-content: center;
                                content: '\f021';
                                font-size: 23px;
                                font-family: FontAwesome;

                                -webkit-animation: rotate 2s linear infinite;
                                -moz-animation: rotate 2s linear infinite;
                                -ms-animation: rotate 2s linear infinite;
                                -o-animation: rotate 2s linear infinite;
                                animation: rotate 2s linear infinite;
                            }
                        }
                    }

                    .FolderStruct{
                        overflow:hidden;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: flex-start;

                        .checkbox{
                            width: 24.25%;
                            margin-right: 1%;
                            margin-bottom: 8px;
                            padding: 15px 20px;
                            background: rgba(208, 208, 208, 0.09);
                            border-radius: 4px;

                            &:nth-of-type(4n+4){
                                margin-right: 0;
                            }

                            input[type=checkbox]:checked + span{
                                &:after{
                                    content: '\f00c';
                                    opacity: 1;
                                    font-size: 17px;
                                    left: -25px;
                                    top: 1.8px;
                                    color:#45C0FE;
                                    position: absolute;
                                    font-family: FontAwesome;
                                }   
                            }

                            label{
                                cursor: pointer;

                                span{
                                    position: relative;
                                    margin-left: 15px;

                                    -webkit-touch-callout: none; /* iOS Safari */
                                    -webkit-user-select: none; /* Safari */
                                    -khtml-user-select: none; /* Konqueror HTML */
                                    -moz-user-select: none; /* Firefox */
                                        -ms-user-select: none; /* Internet Explorer/Edge */
                                            user-select: none;

                                    &:before{
                                        opacity: 0.5;
                                        content: '';
                                        width: 14px;
                                        height: 14px;
                                        border-radius: 4px;
                                        left: -28px;
                                        display: block;
                                        top: 2.6px;
                                        position: absolute;
                                        border: 2px solid #979797;
                                    }
                                }

                                input{
                                    visibility: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }

        .Payment{
            width: 819px;
            padding: 58px 0 0 0;
            margin: 0 auto;

            .cancel_refund{
                font-size: 19px;
            }

            h2{
                font-size: 23px;
                font-weight: 400;
                text-align: left;
                margin-bottom: 20px;
            }

            .centerThis{
                margin: 0 auto;
            }

            .PaymentStats{
                height: 257px;
                overflow: hidden;

                .noEmails{
                    height: inherit;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .status {
                    font-size: 12px;
                    text-align: center;
                    position: relative;

                    &.error{
                        color: #F54040;
                        &::before{
                            color: #F54040;
                            content: '\f06a';
                            margin-right: 5px;
                            font-size: 13px;
                            font-family: FontAwesome;
                        }
                    }

                    &.trying{
                        display: table;
                        margin: 0 auto;
                        color: #F5C840;

                        span{
                            margin-left: 20px;
                        }
                        &:before{
                            color:#F5C840;
                            margin-right: 5px;
                            content: '\f021';
                            font-size: 13px;
                            left: 0px;
                            top: 2px;
                            font-family: FontAwesome;
                            position: absolute;

                            -webkit-animation: rotate 2s linear infinite;
                            -moz-animation: rotate 2s linear infinite;
                            -ms-animation: rotate 2s linear infinite;
                            -o-animation: rotate 2s linear infinite;
                            animation: rotate 2s linear infinite;
                        }
                    }
                }

                .PStatsBlocks{
                    display: flex;
                    max-height: 70px;
                    justify-content: space-between;

                    .PStatsSeparator{
                        width: 2px;
                        background: rgba(151, 151, 151, 0.25);
                    }

                    .PStatsItem{
                        text-align: left;

                        &:nth-child(4){
                            padding-right: 0;
                            border-right: none;
                        }

                        &:first-child{
                            padding-left: 0;
                        }

                        span{
                            font-size: 12px;
                            color:#9F9FA0;
                        }

                        h3{
                            font-size: 26px;
                            font-weight: 400;
                        }
                    }
                }

                .PaymentArea{
                    height: 199px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    .PayPalButtonStyle{
                        margin-top: 30px;
                        text-align: center;
                        
                        p{
                            margin-bottom: 10px;
                        }
                    }

                    .PaymentDone{
                        &:before{
                            content: '\f00c';
                            font-family: FontAwesome;
                            margin-right: 10px;
                            position: relative;
                            top: 1px;
                            font-size: 21px;
                        }
                        margin-top: 30px;
                        height: 54px;
                        font-size: 19px;
                        border: 2px solid rgba(151, 151, 151, 0.25);
                        border-radius: 4px;
                        padding: 0px 25px;
                        line-height: 50px;
                    }

                    .PaymentLoading{
                        margin-top: 15px;
                    }

                    .PaymentCanceled{
                        &:before{
                            content: '\f00d';
                            font-family: FontAwesome;
                            margin-right: 10px;
                            position: relative;
                            top: 1px;
                            font-size: 21px;
                        }
                        margin-top: 30px;
                        height: 54px;
                        font-size: 19px;
                        border: 2px solid rgba(151, 151, 151, 0.25);
                        border-radius: 4px;
                        padding: 0px 25px;
                        line-height: 50px;
                    }
                }

                .PaymentLoading{
                    height: inherit;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .MovingEmails{
            padding: 58px 0 0 0;
            margin: 0 auto;

            .centerThis{
                margin: 0 auto;
            }

            .MEView{
                height: 257px;
                margin-top: 52px;

                &.errorScreen{

                    .cancelingStatus{
                        margin-top: 30px;
                        text-align: center;
                    }

                    .status.error{
                        &:before{
                            content: '\f00d';
                            font-family: FontAwesome;
                            margin-right: 10px;
                            position: relative;
                            top: 1px;
                            font-size: 21px;
                        }
                        height: 54px;
                        font-size: 19px;
                        border: 2px solid rgba(151, 151, 151, 0.25);
                        border-radius: 4px;
                        padding: 0px 25px;
                        display: table;
                        margin: 0 auto;
                        line-height: 50px;
                    }

                    .button{
                        margin: 30px auto;
                    }

                }

                .sides{
                    width: 50%;
                    float: left;
                    position: relative;

                    &.border-effect{
                        &:after{
                            position: absolute;
                            top: 0;
                            right: 0;
                            content: '';
                            height: 158px;
                            border-right: 2px solid rgba(208, 208, 208, 0.09);
                        }
                    }

                    .view{
                        width: 234px;

                        .percentBorder{
                            text-align: center;
                            border: 2px solid rgba(151, 151, 151, 0.5);
                            border-radius: 4px;
                            height: 158px;
                            width: 214px;
                            margin: 0 auto;

                            p{
                                font-size: 47px;
                                text-align: center;
                                margin-top: 25px;
                            }

                            span{
                                display: block;
                                margin-top: 10px;
                                font-size: 19px;
                            }
                        }
                    }

                    &.percentView{
                        .view{
                            float: right;
                            margin-right: 140px;
                        }
                    }

                    &.checkList{
                        .view{
                            width: 300px;
                            float: left;
                            margin-left: 140px;
                            h3{
                                font-weight: 400;
                                font-size: 23px;
                            }
                            input[type=text]{
                                width: 234px;
                                background: transparent;
                                border:2px solid #979797;
                                opacity: 0.5;
                                border-radius: 4px;
                                color:#FFF;
                                height: 44px;
                                padding: 0 15px;
                                font-size: 14px;
                                margin-bottom: 16px;
                                margin-top: 10px;
                                cursor: pointer;

                                &:focus{
                                    border-color: #45C0FE;
                                    opacity: 1;
                                }
                            }

                            p{
                                font-size: 13px;
                                opacity: 0.5;
                            }
                        }
                    }
                }
            }
        }
    }
}
