* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@keyframes rotate {
  0% {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
*:focus {
  outline: none; }

input[type=checkbox]:focus {
  outline-color: #45C0FE; }

body {
  font-family: 'Open Sans', sans-serif;
  background: #36353C;
  color: #FFF; }

#root {
  width: 1170px;
  margin: 0 auto; }

.App .errorRetrievingToken {
  width: 100%;
  margin: 150px auto;
  display: block;
  text-align: center; }
  .App .errorRetrievingToken i {
    font-size: 45px;
    margin-bottom: 15px; }
.App .Navigation {
  position: relative;
  overflow: hidden; }
  .App .Navigation::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 400px;
    height: 53px;
    background: #0f0;
    background: -moz-linear-gradient(left, #36353c 0%, #36353c 50%, rgba(54, 53, 60, 0) 100%);
    background: -webkit-linear-gradient(left, #36353c 0%, #36353c 50%, rgba(54, 53, 60, 0) 100%);
    background: linear-gradient(to right, #36353c 0%, #36353c 50%, rgba(54, 53, 60, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36353c', endColorstr='#0036353c',GradientType=1 ); }
  .App .Navigation::after {
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    width: 400px;
    height: 53px;
    background: -moz-linear-gradient(left, rgba(54, 53, 60, 0) 0%, #36353c 50%, #36353c 100%);
    background: -webkit-linear-gradient(left, rgba(54, 53, 60, 0) 0%, #36353c 50%, #36353c 100%);
    background: linear-gradient(to right, rgba(54, 53, 60, 0) 0%, #36353c 50%, #36353c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0036353c', endColorstr='#36353c',GradientType=1 ); }
  .App .Navigation ul {
    list-style: none;
    height: 53px;
    overflow: hidden;
    -moz-transition: margin-left 0.3s ease-in-out;
    -webkit-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out; }
    .App .Navigation ul li {
      width: 350px;
      display: inline-block;
      text-align: center;
      line-height: 53px;
      font-size: 21px;
      font-weight: 400; }
      .App .Navigation ul li.elzero {
        margin-left: 410px; }
  .App .Navigation .navigation_effect {
    height: 2px;
    opacity: 0.3;
    width: 100%;
    background: #36353c;
    background: -moz-linear-gradient(left, #36353c 0%, rgba(54, 53, 60, 0.92) 20%, rgba(147, 147, 147, 0.79) 50%, rgba(54, 53, 60, 0.66) 80%, rgba(54, 53, 60, 0.58) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #36353c), color-stop(20%, rgba(54, 53, 60, 0.92)), color-stop(50%, rgba(147, 147, 147, 0.79)), color-stop(80%, rgba(54, 53, 60, 0.66)), color-stop(100%, rgba(54, 53, 60, 0.58)));
    background: -webkit-linear-gradient(left, #36353c 0%, rgba(54, 53, 60, 0.92) 20%, rgba(147, 147, 147, 0.79) 50%, rgba(54, 53, 60, 0.66) 80%, rgba(54, 53, 60, 0.58) 100%);
    background: -o-linear-gradient(left, #36353c 0%, rgba(54, 53, 60, 0.92) 20%, rgba(147, 147, 147, 0.79) 50%, rgba(54, 53, 60, 0.66) 80%, rgba(54, 53, 60, 0.58) 100%);
    background: -ms-linear-gradient(left, #36353c 0%, rgba(54, 53, 60, 0.92) 20%, rgba(147, 147, 147, 0.79) 50%, rgba(54, 53, 60, 0.66) 80%, rgba(54, 53, 60, 0.58) 100%);
    background: linear-gradient(to right, #36353c 0%, rgba(54, 53, 60, 0.92) 20%, rgba(147, 147, 147, 0.79) 50%, rgba(54, 53, 60, 0.66) 80%, rgba(54, 53, 60, 0.58) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36353c', endColorstr='#36353c', GradientType=1 ); }
.App .View {
  min-height: 519px; }
  .App .View .button {
    width: 286px;
    height: 60px;
    border: none;
    border-radius: 4px;
    background: rgba(208, 208, 208, 0.15);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
    font-size: 23px;
    font-weight: 400;
    color: #FFFFFF;
    cursor: pointer;
    display: block; }
    .App .View .button:hover {
      background: rgba(208, 208, 208, 0.18); }
    .App .View .button:active {
      background: rgba(208, 208, 208, 0.1); }
    .App .View .button:disabled {
      opacity: 0.3;
      cursor: not-allowed; }
      .App .View .button:disabled:hover {
        background: rgba(208, 208, 208, 0.15); }
      .App .View .button:disabled:active {
        background: rgba(208, 208, 208, 0.15); }
  .App .View .description {
    padding: 35px 0;
    text-align: center;
    clear: both; }
    .App .View .description p {
      font-size: 15px; }
  .App .View .ButtonPack {
    display: flex;
    justify-content: center; }
    .App .View .ButtonPack .button {
      float: left;
      margin-right: 21px; }
      .App .View .ButtonPack .button:last-child {
        margin-right: 0; }
  .App .View .CollectingData .button {
    margin: 0 auto; }
  .App .View .CollectingData .MailboxForm {
    width: 50%;
    float: left;
    position: relative;
    min-height: 367px; }
    .App .View .CollectingData .MailboxForm:first-child .form::after {
      content: '';
      height: 224px;
      width: 2px;
      background: #979797;
      position: absolute;
      top: 110px;
      right: 0;
      opacity: 0.10; }
    .App .View .CollectingData .MailboxForm .form {
      width: 234px;
      margin: 58px auto 0; }
      .App .View .CollectingData .MailboxForm .form h2 {
        font-size: 23px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 20px; }
      .App .View .CollectingData .MailboxForm .form input[type=text],
      .App .View .CollectingData .MailboxForm .form input[type=password] {
        width: 234px;
        background: transparent;
        border: 2px solid #979797;
        opacity: 0.5;
        border-radius: 4px;
        color: #FFF;
        height: 44px;
        padding: 0 15px;
        font-size: 14px;
        margin-bottom: 16px; }
        .App .View .CollectingData .MailboxForm .form input[type=text]:focus,
        .App .View .CollectingData .MailboxForm .form input[type=password]:focus {
          border-color: #45C0FE;
          opacity: 1; }
      .App .View .CollectingData .MailboxForm .form .port_and_ssl {
        position: relative; }
        .App .View .CollectingData .MailboxForm .form .port_and_ssl .ssl_toggle {
          right: 15px;
          top: 9px;
          position: absolute; }
          .App .View .CollectingData .MailboxForm .form .port_and_ssl .ssl_toggle input[type=checkbox] {
            visibility: hidden; }
          .App .View .CollectingData .MailboxForm .form .port_and_ssl .ssl_toggle input[type=checkbox]:checked + span:after {
            content: '\f00c';
            font-size: 17px;
            left: -24px;
            top: 0px;
            opacity: 1;
            color: #45C0FE;
            position: absolute;
            font-family: FontAwesome; }
          .App .View .CollectingData .MailboxForm .form .port_and_ssl .ssl_toggle label {
            cursor: pointer; }
            .App .View .CollectingData .MailboxForm .form .port_and_ssl .ssl_toggle label span {
              position: relative;
              top: 1px;
              margin-left: 15px;
              font-size: 14px;
              color: #A6A6A6;
              font-weight: 400;
              -webkit-touch-callout: none;
              /* iOS Safari */
              -webkit-user-select: none;
              /* Safari */
              -khtml-user-select: none;
              /* Konqueror HTML */
              -moz-user-select: none;
              /* Firefox */
              -ms-user-select: none;
              /* Internet Explorer/Edge */
              user-select: none; }
              .App .View .CollectingData .MailboxForm .form .port_and_ssl .ssl_toggle label span:before {
                opacity: 0.5;
                content: '';
                width: 14px;
                height: 14px;
                display: block;
                border-radius: 4px;
                top: 1px;
                left: -27px;
                position: absolute;
                border: 2px solid #979797; }
      .App .View .CollectingData .MailboxForm .form .status {
        font-size: 12px;
        text-align: center;
        position: relative; }
        .App .View .CollectingData .MailboxForm .form .status.success {
          color: #3BD43B; }
          .App .View .CollectingData .MailboxForm .form .status.success::before {
            color: #3BD43B;
            content: '\f00c';
            margin-right: 5px;
            font-size: 13px;
            font-family: FontAwesome; }
        .App .View .CollectingData .MailboxForm .form .status.error {
          color: #F54040; }
          .App .View .CollectingData .MailboxForm .form .status.error::before {
            color: #F54040;
            content: '\f06a';
            margin-right: 5px;
            font-size: 13px;
            font-family: FontAwesome; }
        .App .View .CollectingData .MailboxForm .form .status.trying {
          color: #F5C840; }
          .App .View .CollectingData .MailboxForm .form .status.trying span {
            margin-left: 20px; }
          .App .View .CollectingData .MailboxForm .form .status.trying:before {
            color: #F5C840;
            margin-right: 5px;
            content: '\f021';
            font-size: 13px;
            left: 59px;
            top: 2px;
            font-family: FontAwesome;
            position: absolute;
            -webkit-animation: rotate 2s linear infinite;
            -moz-animation: rotate 2s linear infinite;
            -ms-animation: rotate 2s linear infinite;
            -o-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite; }
  .App .View .SelectFolders {
    width: 819px;
    padding: 58px 0 0 0;
    margin: 0 auto; }
    .App .View .SelectFolders h2 {
      font-size: 23px;
      font-weight: 400;
      text-align: left;
      margin-bottom: 20px; }
    .App .View .SelectFolders .status {
      height: 33px;
      line-height: 33px;
      font-size: 12px;
      text-align: center;
      margin: 0 auto;
      position: relative; }
      .App .View .SelectFolders .status.info {
        color: #9F9FA0; }
      .App .View .SelectFolders .status.error {
        color: #F54040; }
        .App .View .SelectFolders .status.error::before {
          color: #F54040;
          content: '\f06a';
          margin-right: 5px;
          font-size: 13px;
          font-family: FontAwesome; }
      .App .View .SelectFolders .status.trying {
        color: #F5C840; }
        .App .View .SelectFolders .status.trying span {
          margin-left: 20px; }
        .App .View .SelectFolders .status.trying:before {
          color: #F5C840;
          margin-right: 5px;
          content: '\f021';
          font-size: 13px;
          top: 1px;
          font-family: FontAwesome;
          position: absolute;
          -webkit-animation: rotate 2s linear infinite;
          -moz-animation: rotate 2s linear infinite;
          -ms-animation: rotate 2s linear infinite;
          -o-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite; }
    .App .View .SelectFolders .SelectFixed {
      height: 257px; }
      .App .View .SelectFolders .SelectFixed .SelectSection {
        max-height: 224px;
        overflow-x: hidden;
        overflow-y: auto; }
        .App .View .SelectFolders .SelectFixed .SelectSection .LoadingFolders {
          display: flex;
          overflow: hidden;
          flex-wrap: wrap;
          align-content: flex-start;
          width: 100%; }
@-webkit-keyframes fadeBackground {
  0% {
    transition: none; }
  50% {
    background-color: #3E3D46; } }
@-moz-keyframes fadeBackground {
  0% {
    transition: none; }
  50% {
    background-color: #3E3D46; } }
@-o-keyframes fadeBackground {
  0% {
    transition: none; }
  50% {
    background-color: #3E3D46; } }
@keyframes fadeBackground {
  0% {
    transition: none; }
  50% {
    background-color: #3E3D46; } }
          .App .View .SelectFolders .SelectFixed .SelectSection .LoadingFolders .load_block {
            width: 24.25%;
            height: 52px;
            margin-right: 1%;
            margin-bottom: 8px;
            background: #44434A;
            border-radius: 4px;
            -webkit-animation: fadeBackground 1.2s ease-out infinite;
            -moz-animation: fadeBackground 1.2s ease-out infinite;
            -o-animation: fadeBackground 1.2s ease-out infinite;
            animation: fadeBackground 1.2s ease-out infinite; }
            .App .View .SelectFolders .SelectFixed .SelectSection .LoadingFolders .load_block:nth-of-type(3n+4) {
              -webkit-animation: fadeBackground 1.2s ease-out infinite 1s;
              -moz-animation: fadeBackground 1.2s ease-out infinite 1s;
              -o-animation: fadeBackground 1.2s ease-out infinite 1s;
              animation: fadeBackground 1.2s ease-out infinite 1s; }
            .App .View .SelectFolders .SelectFixed .SelectSection .LoadingFolders .load_block:nth-of-type(5n+1) {
              -webkit-animation: fadeBackground 1.2s ease-out infinite 1.5s;
              -moz-animation: fadeBackground 1.2s ease-out infinite 1.5s;
              -o-animation: fadeBackground 1.2s ease-out infinite 1.5s;
              animation: fadeBackground 1.2s ease-out infinite 1.5s; }
            .App .View .SelectFolders .SelectFixed .SelectSection .LoadingFolders .load_block:nth-of-type(4n+4) {
              margin-right: 0; }
          .App .View .SelectFolders .SelectFixed .SelectSection .LoadingFolders p {
            position: relative; }
            .App .View .SelectFolders .SelectFixed .SelectSection .LoadingFolders p:before {
              color: #FFFFFF;
              display: flex;
              position: relative;
              top: -10px;
              justify-content: center;
              content: '\f021';
              font-size: 23px;
              font-family: FontAwesome;
              -webkit-animation: rotate 2s linear infinite;
              -moz-animation: rotate 2s linear infinite;
              -ms-animation: rotate 2s linear infinite;
              -o-animation: rotate 2s linear infinite;
              animation: rotate 2s linear infinite; }
        .App .View .SelectFolders .SelectFixed .SelectSection .FolderStruct {
          overflow: hidden;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start; }
          .App .View .SelectFolders .SelectFixed .SelectSection .FolderStruct .checkbox {
            width: 24.25%;
            margin-right: 1%;
            margin-bottom: 8px;
            padding: 15px 20px;
            background: rgba(208, 208, 208, 0.09);
            border-radius: 4px; }
            .App .View .SelectFolders .SelectFixed .SelectSection .FolderStruct .checkbox:nth-of-type(4n+4) {
              margin-right: 0; }
            .App .View .SelectFolders .SelectFixed .SelectSection .FolderStruct .checkbox input[type=checkbox]:checked + span:after {
              content: '\f00c';
              opacity: 1;
              font-size: 17px;
              left: -25px;
              top: 1.8px;
              color: #45C0FE;
              position: absolute;
              font-family: FontAwesome; }
            .App .View .SelectFolders .SelectFixed .SelectSection .FolderStruct .checkbox label {
              cursor: pointer; }
              .App .View .SelectFolders .SelectFixed .SelectSection .FolderStruct .checkbox label span {
                position: relative;
                margin-left: 15px;
                -webkit-touch-callout: none;
                /* iOS Safari */
                -webkit-user-select: none;
                /* Safari */
                -khtml-user-select: none;
                /* Konqueror HTML */
                -moz-user-select: none;
                /* Firefox */
                -ms-user-select: none;
                /* Internet Explorer/Edge */
                user-select: none; }
                .App .View .SelectFolders .SelectFixed .SelectSection .FolderStruct .checkbox label span:before {
                  opacity: 0.5;
                  content: '';
                  width: 14px;
                  height: 14px;
                  border-radius: 4px;
                  left: -28px;
                  display: block;
                  top: 2.6px;
                  position: absolute;
                  border: 2px solid #979797; }
              .App .View .SelectFolders .SelectFixed .SelectSection .FolderStruct .checkbox label input {
                visibility: hidden; }
  .App .View .Payment {
    width: 819px;
    padding: 58px 0 0 0;
    margin: 0 auto; }
    .App .View .Payment .cancel_refund {
      font-size: 19px; }
    .App .View .Payment h2 {
      font-size: 23px;
      font-weight: 400;
      text-align: left;
      margin-bottom: 20px; }
    .App .View .Payment .centerThis {
      margin: 0 auto; }
    .App .View .Payment .PaymentStats {
      height: 257px;
      overflow: hidden; }
      .App .View .Payment .PaymentStats .noEmails {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center; }
      .App .View .Payment .PaymentStats .status {
        font-size: 12px;
        text-align: center;
        position: relative; }
        .App .View .Payment .PaymentStats .status.error {
          color: #F54040; }
          .App .View .Payment .PaymentStats .status.error::before {
            color: #F54040;
            content: '\f06a';
            margin-right: 5px;
            font-size: 13px;
            font-family: FontAwesome; }
        .App .View .Payment .PaymentStats .status.trying {
          display: table;
          margin: 0 auto;
          color: #F5C840; }
          .App .View .Payment .PaymentStats .status.trying span {
            margin-left: 20px; }
          .App .View .Payment .PaymentStats .status.trying:before {
            color: #F5C840;
            margin-right: 5px;
            content: '\f021';
            font-size: 13px;
            left: 0px;
            top: 2px;
            font-family: FontAwesome;
            position: absolute;
            -webkit-animation: rotate 2s linear infinite;
            -moz-animation: rotate 2s linear infinite;
            -ms-animation: rotate 2s linear infinite;
            -o-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite; }
      .App .View .Payment .PaymentStats .PStatsBlocks {
        display: flex;
        max-height: 70px;
        justify-content: space-between; }
        .App .View .Payment .PaymentStats .PStatsBlocks .PStatsSeparator {
          width: 2px;
          background: rgba(151, 151, 151, 0.25); }
        .App .View .Payment .PaymentStats .PStatsBlocks .PStatsItem {
          text-align: left; }
          .App .View .Payment .PaymentStats .PStatsBlocks .PStatsItem:nth-child(4) {
            padding-right: 0;
            border-right: none; }
          .App .View .Payment .PaymentStats .PStatsBlocks .PStatsItem:first-child {
            padding-left: 0; }
          .App .View .Payment .PaymentStats .PStatsBlocks .PStatsItem span {
            font-size: 12px;
            color: #9F9FA0; }
          .App .View .Payment .PaymentStats .PStatsBlocks .PStatsItem h3 {
            font-size: 26px;
            font-weight: 400; }
      .App .View .Payment .PaymentStats .PaymentArea {
        height: 199px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative; }
        .App .View .Payment .PaymentStats .PaymentArea .PayPalButtonStyle {
          margin-top: 30px;
          text-align: center; }
          .App .View .Payment .PaymentStats .PaymentArea .PayPalButtonStyle p {
            margin-bottom: 10px; }
        .App .View .Payment .PaymentStats .PaymentArea .PaymentDone {
          margin-top: 30px;
          height: 54px;
          font-size: 19px;
          border: 2px solid rgba(151, 151, 151, 0.25);
          border-radius: 4px;
          padding: 0px 25px;
          line-height: 50px; }
          .App .View .Payment .PaymentStats .PaymentArea .PaymentDone:before {
            content: '\f00c';
            font-family: FontAwesome;
            margin-right: 10px;
            position: relative;
            top: 1px;
            font-size: 21px; }
        .App .View .Payment .PaymentStats .PaymentArea .PaymentLoading {
          margin-top: 15px; }
        .App .View .Payment .PaymentStats .PaymentArea .PaymentCanceled {
          margin-top: 30px;
          height: 54px;
          font-size: 19px;
          border: 2px solid rgba(151, 151, 151, 0.25);
          border-radius: 4px;
          padding: 0px 25px;
          line-height: 50px; }
          .App .View .Payment .PaymentStats .PaymentArea .PaymentCanceled:before {
            content: '\f00d';
            font-family: FontAwesome;
            margin-right: 10px;
            position: relative;
            top: 1px;
            font-size: 21px; }
      .App .View .Payment .PaymentStats .PaymentLoading {
        height: inherit;
        display: flex;
        align-items: center; }
  .App .View .MovingEmails {
    padding: 58px 0 0 0;
    margin: 0 auto; }
    .App .View .MovingEmails .centerThis {
      margin: 0 auto; }
    .App .View .MovingEmails .MEView {
      height: 257px;
      margin-top: 52px; }
      .App .View .MovingEmails .MEView.errorScreen .cancelingStatus {
        margin-top: 30px;
        text-align: center; }
      .App .View .MovingEmails .MEView.errorScreen .status.error {
        height: 54px;
        font-size: 19px;
        border: 2px solid rgba(151, 151, 151, 0.25);
        border-radius: 4px;
        padding: 0px 25px;
        display: table;
        margin: 0 auto;
        line-height: 50px; }
        .App .View .MovingEmails .MEView.errorScreen .status.error:before {
          content: '\f00d';
          font-family: FontAwesome;
          margin-right: 10px;
          position: relative;
          top: 1px;
          font-size: 21px; }
      .App .View .MovingEmails .MEView.errorScreen .button {
        margin: 30px auto; }
      .App .View .MovingEmails .MEView .sides {
        width: 50%;
        float: left;
        position: relative; }
        .App .View .MovingEmails .MEView .sides.border-effect:after {
          position: absolute;
          top: 0;
          right: 0;
          content: '';
          height: 158px;
          border-right: 2px solid rgba(208, 208, 208, 0.09); }
        .App .View .MovingEmails .MEView .sides .view {
          width: 234px; }
          .App .View .MovingEmails .MEView .sides .view .percentBorder {
            text-align: center;
            border: 2px solid rgba(151, 151, 151, 0.5);
            border-radius: 4px;
            height: 158px;
            width: 214px;
            margin: 0 auto; }
            .App .View .MovingEmails .MEView .sides .view .percentBorder p {
              font-size: 47px;
              text-align: center;
              margin-top: 25px; }
            .App .View .MovingEmails .MEView .sides .view .percentBorder span {
              display: block;
              margin-top: 10px;
              font-size: 19px; }
        .App .View .MovingEmails .MEView .sides.percentView .view {
          float: right;
          margin-right: 140px; }
        .App .View .MovingEmails .MEView .sides.checkList .view {
          width: 300px;
          float: left;
          margin-left: 140px; }
          .App .View .MovingEmails .MEView .sides.checkList .view h3 {
            font-weight: 400;
            font-size: 23px; }
          .App .View .MovingEmails .MEView .sides.checkList .view input[type=text] {
            width: 234px;
            background: transparent;
            border: 2px solid #979797;
            opacity: 0.5;
            border-radius: 4px;
            color: #FFF;
            height: 44px;
            padding: 0 15px;
            font-size: 14px;
            margin-bottom: 16px;
            margin-top: 10px;
            cursor: pointer; }
            .App .View .MovingEmails .MEView .sides.checkList .view input[type=text]:focus {
              border-color: #45C0FE;
              opacity: 1; }
          .App .View .MovingEmails .MEView .sides.checkList .view p {
            font-size: 13px;
            opacity: 0.5; }

/*# sourceMappingURL=style.css.map */
